.content-row{
    background-color: #D4D4D4;
    border: 2px solid;
    border-radius: 25px;
}

.content-table td {
    text-align: center;
}

.content-table th {
    text-align: center;
}

.content-table { 
    table-layout: fixed; 
}

.updates-container { 
    height: 400px;
    overflow-y: scroll; 
}
